uploads/
up/flightdiary_*.csv
up/
.DS_Store
assets/css/public_map_leaflet_backup.css
assets/js/point_map_leaflet_backup.js
assets/js/trip_map_leaflet_backup.js
assets/js/public_map_leaflet_backup.js
flightdiary_2025_12_29_23_58.csv
backups/*.json
*.db
admin/phpminiadmin.php
